.sidebar {
    height: 100vh;
    width: 280px;
    background: #c227a0;
    position: fixed;
    top: 0;
    z-index: 11111;
    left: -320px;
}

#sidebar div img {
    width: 230px;
    padding: 50px;
}

#sidebar div a {
    display: block;
    color: #fff;
    margin-left: 50px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;

}

#player-content {
    background: #1ed760;
    height: 100vh;
    width: 100%;
    padding: 40px 50px 50px 50px;
    position: relative;
}

.input-group .btn-outline-secondary {
    background: #fff !important;
    border-color: #fff;
}

.input-group .form-control {
    background: #fff !important;
    border-color: #fff !important;
    padding-left: 0;
    outline: none;
}

table {
    background: #c227a0;
    width: 100%;
}

table thead tr th,
table tbody tr td {
    padding: 20px;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
}

table tbody tr td i {
    color: #fff;
    font-size: 28px;
}

.slider {
    position: absolute;
    bottom: 50px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.player i {
    padding: 40px 20px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.show-sidebar {
    left: 0;
}

#show {
    display: block;
}
#close{
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
}
.modal-content{
    background: #1ed760 !important;
}
.modal-header{
    background: #fff;
}
.modal-title{
   font-weight: 800;
    font-size: 28px;
    background: #fff;
}
.drag-upload{
    height: 70px;
    width: 100%;
    background: #fff;
}
.create-playlist-input{
    height: 40px;
    width: 100%;
    background: #fff;
    border: none;
}
@media (min-width: 992px) {
    #show {
        display: none;
    }
    #close {
        display: none;
    }

    #sidebar {
        left: 0;
    }

    #player-content {
        padding-left: 320px;
    }

    .slider {
        padding-left: 320px;
    }
}
