.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e2_2 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/docusign_akkhzqylej4_unsplash_1.png); 
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.e2_3 { 
	color:rgba(253.93750101327896, 252.87942498922348, 252.87942498922348, 1);
	width:1406px;
	height:295px;
	position:absolute;
	left:231px;
	top:485px;
	font-family:Pacifico;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e3_6 { 
	color:rgba(255, 255, 255, 1);
	width:840px;
	height:169px;
	position:absolute;
	left:349px;
	top:666px;
	font-family:Arapey;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(77.72188067436218, 109.47682231664658, 222.06250101327896, 1);
	width:292px;
	height:93px;
	position:absolute;
	left:548px;
	top:781px;
}
.e3_20 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(77.72188067436218, 109.47682231664658, 222.06250101327896, 1);
	width:292px;
	height:93px;
	position:absolute;
	left:548px;
	top:781px;
}
.e3_8 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:91px;
	position:absolute;
	left:603px;
	top:804px;
	font-family:Arapey;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e3_9 { 
	color:rgba(253.93750101327896, 249.70521211624146, 249.70521211624146, 1);
	width:189px;
	height:73px;
	position:absolute;
	left:1049px;
	top:61px;
	font-family:Arapey;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e3_18 { 
	color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:189px;
	height:73px;
	position:absolute;
	left:1156px;
	top:61px;
	font-family:Arapey;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e3_19 { 
	color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:189px;
	height:73px;
	position:absolute;
	left:1345px;
	top:61px;
	font-family:Arapey;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e3_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(0.7345210698257949deg);
	width:84.00595092773438px;
	height:0px;
	position:absolute;
	left:1048px;
	top:96px;
}
.3_23 { 
	border:1px solid rgba(252.87500202655792, 253.08750182390213, 255, 1);
}
